/**********
Site Theme
***********/
.link,
.link:hover,
.link:focus,
.link.active {
	color: inherit;
}
.bg-theme,
.btn-theme {
	background-color: #D43024;
}
.text-theme,
.btn-link.btn-link-theme,
.nav-link.nav-link-theme
{
	color: #D43024;
}

.text-theme-dark,
.btn-link.btn-link-theme.active,
.btn-link.btn-link-theme:hover,
.btn-link.btn-link-theme:focus,
.nav-link.nav-link-theme.active,
.nav-link.nav-link-theme:hover,
.nav-link.nav-link-theme:focus
{
	color: #AA1616;
}

.bg-theme-dark,
.btn-theme.active,
.btn-theme:hover,
.btn-theme:focus {
	background-color: #AA1616;
}

.text-blue {
	color: #1A47B0;
}
.bg-blue {
	background-color: #1A47B0;
}

.text-secondary {
	color: #3B4550 !important;
}
.bg-secondary {
	background-color: #3B4550;
}


.text-gray-light {
	color: #BDC5CB;
}
.bg-gray-light {
	background-color: #BDC5CB;
}

.text-gray {
	color: #BDC5CB;
}
.bg-gray {
	background-color: #BDC5CB;
}

.bg-dark {
	background-color: #282C30;
}
.text-dark {
	color: #282C30;
}

.bg-darker {
	background-color: #1A1A1A;
}
.text-darker {
	color: #1A1A1A;
}

.bg-darkest {
	background-color: #070707;
}
.text-darkest,
.nav-link {
	color: #070707;
}

.bg-light {
	background-color: #707070;
}
.text-light {
	color: #707070 !important;
}

.bg-lighter {
	background-color: #848994;
}
.text-lighter {
	color: #848994;
}

.bg-lightest {
	background-color: #9FA4AF;
}
.text-lightest {
	color: #9FA4AF;
}

.bg-background {
	background-color: #E4E4E4;
}
.bg-light-alt {
	background-color: #F5F6F8;
}



.bg-white, {
	background-color: #FFFFFF;
}
.text-white,
.btn-theme,
.btn-theme.active,
.btn-theme:hover,
.btn-theme:focus,
.link-white,
.link-white.active,
.link-white:focus,
.link-white:hover
{
	color: #FFFFFF;
}

.btn-rounded {
	border-radius: 50px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.btn-square {
	border-radius: 0;
	padding-left: 2rem;
	padding-right: 2rem;
}

.card-deck.clean .card,
.card-deck.clean .card-footer {
	border: none;
}

.card-deck.clean .card-footer {
	background-color: inherit;
}

/**************
Site Style
**************/

body {
	font-family: 'segoe-ui';
	color: #707070;
}

header {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.nav-link {
	text-transform: uppercase;
	font-size: 1.1rem;
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: .75rem;
		padding-left: .75rem;
	}
}

.media-block + .media-block {
	margin-top: 2rem;
}
.media-block .icon {
	line-height: 1;
}
.media-block .text {
	line-height: 1.3;
}

.testimonials .icon {
	height: 100px;
	width: 200px;
	max-width: 100%;
}
.testimonials .media img {
	width: 64px;
}

.owl-dots {
	text-align: center;
	padding-top: 1rem;
}
.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: #869791;
}

footer {
	font-size: 0.8rem;
}

footer h4 {
	font-size: 1rem;
}

.card-deck-lg {
	margin-left: -45px;
	margin-right: -45px;
	margin-bottom: 45px;
}
.card-deck-lg + .card-deck-lg {
	margin-top: 90px;
}
.card-deck-lg > .card {
	margin-left: 45px;
	margin-right: 45px;
}
.team .card {
	box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.3);
}

.benefits .card {
	box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
}
.benefits .card .card-body {
	line-height: 1.75;
}