/**********
Site Theme
***********/

.bg-primary,
.btn-primary {
	background-color: #D43024;
}
.text-primary,
.btn-link.btn-link-primary,
.nav-link.nav-link-primary
{
	color: #D43024;
}

.text-primary-dark,
.btn-link.btn-link-primary.active,
.btn-link.btn-link-primary:hover,
.btn-link.btn-link-primary:focus,
.nav-link.nav-link-primary.active,
.nav-link.nav-link-primary:hover,
.nav-link.nav-link-primary:focus
{
	color: #AA1616;
}

.bg-primary-dark,
.btn-primary.active,
.btn-primary:hover,
.btn-primary:focus {
	background-color: #AA1616;
}

.text-blue {
	color: #1A47B0;
}
.bg-blue {
	background-color: #1A47B0;
}

.text-secondary {
	color: #3B4550;
}
.bg-secondary {
	background-color: #3B4550;
}


.text-gray-light {
	color: #BDC5CB;
}
.bg-gray-light {
	background-color: #BDC5CB;
}

.text-gray {
	color: #BDC5CB;
}
.bg-gray {
	background-color: #BDC5CB;
}

.bg-dark {
	background-color: #282C30;
}
.text-dark {
	color: #282C30;
}

.bg-darker {
	background-color: #1A1A1A;
}
.text-darker {
	color: #1A1A1A;
}

.bg-darkest {
	background-color: #070707;
}
.text-darkest,
.nav-link {
	color: #070707;
}

.bg-light {
	background-color: #707070;
}
.text-light {
	color: #707070;
}

.bg-lighter {
	background-color: #848994;
}
.text-lighter {
	color: #848994;
}

.bg-lightest {
	background-color: #9FA4AF;
}
.text-lightest {
	color: #9FA4AF;
}



.bg-white, {
	background-color: #FFFFFF;
}
.text-white,
.btn-primary,
.btn-primary.active,
.btn-primary:hover,
.btn-primary:focus 
{
	color: #FFFFFF;
}


/**************
Site Style
**************/

body {
	font-family: 'segoe-ui';
	color: #707070;
}

header {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.nav-link {
	text-transform: uppercase;
	font-size: 1.1rem;
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: .75rem;
		padding-left: .75rem;
	}
}

